.grille {
	display: flex;
	justify-content: space-between;
	gap: var(--espacement-petit);
	
	@media (max-width: 1050px) {
		& {
			flex-wrap: wrap;
			align-items: stretch;
			align-content: stretch;
			gap: var(--espacement-petit);
			
		}
	}

	@media (max-width: 500px){
		& article{
			width: calc(100% - 20px);
		}
	}
}
